<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="icon" href="/img/favicon.jpeg">
        <title>About</title>
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>This site was created by Matt Thompson. It uses data from mapbox.com and the Weatherstack APIs.</p>
        <img src="img/alaska.jpeg" class="portrait">
        </div>
        
        {{>footer}}
    </body>
</html>